.wrapper
    - const dogUp = dog.toUpperCase();
    p.hello Hello my dogs name is #{dogUp}
    span#yo Yo!! My name is #{name}
    img.dog(src='dog.jpg' alt=`Dog ${dog}`)
    
    
h2
    | Hello 
    em How are you! 